<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        <form action="/locationid/:city" method="GET">
            <label for="city">City</label>
            <input type="text" name="city" placeholder="type your city"/>
            <input type="submit"/>
        </form>
    </body>
</html>